* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.2s;
}

body {
  height: 100vh;
  display: flex;
  background-color: #e8e9eb;
}

h1,
p {
  font-family: Nunito, sans-serif;
  font-weight: bold;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

h1,
input,
p {
  text-overflow: ellipsis;
  overflow: hidden;
}

form,
input,
textarea {
  border: 1px solid #ddd;
}

input,
textarea {
  padding: 10px;
  font-family: Roboto, sans-serif;
  border-radius: 4px;
}

input,
textarea,
p {
  width: 100%;
  margin: 5px 0;
  display: block;
}

#staticform {
  width: 90%;
  max-width: 400px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
}

.response-status {
  height: 20px;
  color: #e4b363;
}

.submit-button {
  border: none;
  background-color: #ef6461;
  transition: background-color 0.2s;
  font-weight: bold;
  font-family: Nunito, sans-serif;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s;
}

.submit-button:hover,
body.dark-mode .submit-button:hover {
  background-color: #e4b363;
}

.title-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title-form div {
  width: 50px;
  height: 30px;
  top: 0;
  right: 0;
  border: 2px solid #000;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 2px;
}

.title-form div span {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #000;
  cursor: pointer;
}

/* Dark mode */
body.dark-mode {
  background-color: #000;
  color: #ddd;
}

body.dark-mode #staticform {
  background-color: #333;
}

body.dark-mode form,
body.dark-mode input,
body.dark-mode textarea {
  border: 1px solid #444;
}

body.dark-mode input,
body.dark-mode textarea {
  background: #555;
  color: #fff;
}

body.dark-mode .submit-button {
  background-color: #008080;
}

body.dark-mode ::-webkit-input-placeholder {
  color: #fff;
}
body.dark-mode :-moz-placeholder {
  color: #fff;
}
body.dark-mode ::-moz-placeholder {
  color: #fff;
}
body.dark-mode :-ms-input-placeholder {
  color: #fff;
}

body.dark-mode .title-form div {
  justify-content: flex-end;
  background-color: #444;
}
